<section class="sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="/manager/akun">
                    <div class="sub-menu">Data Pegawai</div>
                </a>
                <a href="/manager/logs">
                    <div class="sub-menu">Log Aktifitas</div>
                </a>
                <a href="/logout">
                    <div class="sub-menu">Logout</div>
                </a>
            </div>
        </div>
    </div>
</section>