<section class="sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="/kasir">
                    <div class="sub-menu">Pesanan</div>
                </a>
                <a href="/kasir/report">
                    <div class="sub-menu">Laporan Harian</div>
                </a>
                <a href="/kasir/report/monthly">
                    <div class="sub-menu">Laporan Bulanan</div>
                </a>
                <a href="/logout">
                    <div class="sub-menu">Logout</div>
                </a>
            </div>
        </div>
    </div>
</section>