<section class="sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="/kasir">
                    <div class="sub-menu">Pesanan</div>
                </a>
                <a href="/kasir/meja">
                    <div class="sub-menu">Meja Pesanan</div>
                </a>
                <a href="/manager/report">
                    <div class="sub-menu">Laporan Harian</div>
                </a>
                <a href="/manager/report/monthly">
                    <div class="sub-menu">Laporan Bulanan</div>
                </a>
                <a href="/manager/menu">
                    <div class="sub-menu">Data Menu</div>
                </a>
                <a href="/manager/akun">
                    <div class="sub-menu">Data Pegawai</div>
                </a>
                <a href="/manager/logs">
                    <div class="sub-menu">Log Aktifitas</div>
                </a>
                <a href="/logout">
                    <div class="sub-menu">Logout</div>
                </a>
            </div>
        </div>
    </div>
</section>