<%- include('../templates/header') %>
<%- include('../templates/sidebar') %>

<div class="content-page">
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-lg-12">
                <h2 class="f-nunito-5">Daftar Meja Terpakai Grafika Cafe</h2>
            </div>
        </div>
        <div class="row" id="table">

        </div>
    </div>
</div>


<%- include('../templates/footer') %>