@import url('../root.css');

#btn-create-pyament{
    background-color: #03a9f4;
}

.list-item{
    width:100%;
    height: 80px;
    margin-bottom:10px;
}

.wrap-detail-order{
    float: right;
    width: 88%;
    height: 80px;
    padding-top:10px;
}

.menu-list-card{
    margin-bottom: 30px;
}